@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.carousel{
    width: 95%;
}

::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background: #ffeb3b;
}

